CAATWeb/WebContent/WEB-INF/wsdl/CAATService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions name="CAATService" targetNamespace="http://sat.gob.mx/comercioexterior/caat/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sat.gob.mx/comercioexterior/caat/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sat.gob.mx/comercioexterior/caat/" schemaLocation="CAATService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultaDatosGenerales">
    <part element="tns:consultaDatosGenerales" name="parameters"/>
  </message>
  <message name="consultaDatosGeneralesResponse">
    <part element="tns:consultaDatosGeneralesResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="consultaVehiculos">
    <part element="tns:consultaVehiculos" name="parameters"/>
  </message>
  <message name="consultaVehiculosResponse">
    <part element="tns:consultaVehiculosResponse" name="parameters"/>
  </message>
  <message name="consultaChoferes">
    <part element="tns:consultaChoferes" name="parameters"/>
  </message>
  <message name="consultaChoferesResponse">
    <part element="tns:consultaChoferesResponse" name="parameters"/>
  </message>
  <message name="consultaDatosGeneralesNAV">
    <part element="tns:consultaDatosGeneralesNAV" name="parameters"/>
  </message>
  <message name="consultaDatosGeneralesNAVResponse">
    <part element="tns:consultaDatosGeneralesNAVResponse" name="parameters"/>
  </message>
  <portType name="CAATDelegate">
    <operation name="consultaDatosGenerales">
      <input message="tns:consultaDatosGenerales"/>
      <output message="tns:consultaDatosGeneralesResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="consultaVehiculos">
      <input message="tns:consultaVehiculos"/>
      <output message="tns:consultaVehiculosResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="consultaChoferes">
      <input message="tns:consultaChoferes"/>
      <output message="tns:consultaChoferesResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="consultaDatosGeneralesNAV">
      <input message="tns:consultaDatosGeneralesNAV"/>
      <output message="tns:consultaDatosGeneralesNAVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="CAATPortBinding" type="tns:CAATDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultaDatosGenerales">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaVehiculos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaChoferes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaDatosGeneralesNAV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CAATService">
    <port binding="tns:CAATPortBinding" name="CAATPort">
      <soap:address location="http://localhost:9080/CAATWeb/CAATService"/>
    </port>
  </service>
</definitions>